@use '../../../styles/variables' as v;

.blocTitle-layout {
  background-color: v.$darkBlue;
  border-radius: 2px;
  padding: 2px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  h2 {
    color: v.$textColor;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-left: 7px;
  }
}
