@use '../../../styles/variables' as v;

.inactive-panel {
  position: absolute;
  background-color: v.$opaqueDarkGrey;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
