@use '../../../styles//variables' as v;

$thumb-w: 1.2rem;
$thumb-h: 1.2rem;
$thumb-pad: 0.1rem;
$ot-w: 7.5rem;
$ot-h: ($thumb-h * 0.4);
$it-w: ($ot-w - ($thumb-pad * 2));
$it-h: 0.2rem;

$clr-list: hsl(250, 81%, 69%);

$fb50: fade(black, 50);
$fb35: fade(black, 35);
$fb25: fade(black, 25);
$fb15: fade(black, 15);
$fw25: fade(white, 25);
$fw15: fade(white, 15);

$bg: #202428;
$ot-bg: #303236;
$it-bg: darken($bg, 10);
$thumb-bg: #66696b;

.octave-selector-layout {
  background-color: v.$lightGreen;
  border: 1px solid v.$lowerTextColor;
  border-radius: 5px;
  width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  .lights {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rangeWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 100%;
    flex: 0;
    padding: 0.3rem 1rem;
    gap: 0.5rem;
  }

  input[type='range'] {
    display: flex;
    width: $ot-w;
    height: $ot-h;
    -webkit-appearance: none;
    background: linear-gradient(
      180deg,
      v.$lowerTextColor,
      v.$lowerTextColor,
      v.$lowerTextColor
    );
    border-radius: $ot-h;
    box-shadow:
      0 3px 2px -1px $fw25 inset,
      0 0 10px 0 $fb50,
      0 0 10px 2px $fb25,
      0 8px 4px -3px $fb15;

    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
      background: v.$darkGrey;
      width: $it-w;
      height: $it-h;
      border-radius: $thumb-h;
      cursor: pointer;
      box-shadow:
        0 1px 1px 0 $fw25,
        0 2px 2px 0 $fw15;
      border: 1px solid $fb25;
    }

    // Add padding to ends to shrink down the inner track
    // along x so it matches the moz track
    &::-webkit-slider-runnable-track {
      background: v.$darkGrey;
      width: $it-w;
      height: $it-h;
      margin: 0 0.2rem;
      transform: translateY(-220%);
    }

    // Shape, bg, shading
    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      width: $thumb-w;
      height: $thumb-h;
      background: radial-gradient(
          #444 45%,
          #555 50%,
          #222 55%,
          #8c7853 57.5%,
          #8c7853 100%
        ),
        conic-gradient(
          #4b4b4b 10deg,
          #777 45deg,
          #5b5b6b 70deg,
          #9f9f9f 105deg,
          #444 140deg,
          #aaa 185deg,
          #666 210deg,
          #999 245deg,
          #777 285deg,
          #9f9f9f 320deg,
          #4b4b4b
        );
      background-blend-mode: overlay;
      box-shadow:
        0 0 1px 1px fade(white, 35%) inset,
        0 1px 1px 1px $fw25 inset,
        0 0 2px 2px $fb15 inset,
        0 1px 1px 1px $fb35,
        0 3px 2px 1px $fb25,
        0 6px 4px 3px $fb15;
      border-radius: calc($thumb-h/2);
      cursor: grab;
    }

    // Thumb needs to be centered vertically using either a negative margin,
    // or translateY
    &::-webkit-slider-thumb {
      transform: translatey((-$ot-h) + 0rem);
      width: $thumb-w;
      height: $thumb-h;
      background: radial-gradient(
        #444 45%,
        #555 50%,
        #222 55%,
        v.$lowerTextColor 57.5%,
        v.$lowerTextColor 100%
      );
      background-blend-mode: overlay;
      box-shadow:
        0 0 1px 1px fade(white, 35%) inset,
        0 1px 1px 1px $fw25 inset,
        0 0 2px 2px $fb15 inset,
        0 1px 1px 1px $fb35,
        0 3px 2px 1px $fb25,
        0 6px 4px 3px $fb15;
      border-radius: calc($thumb-h/2);
      cursor: grab;
      -webkit-appearance: none;
    }
  }

  datalist {
    display: flex;
    justify-content: space-around;
    color: $clr-list;
    width: ($ot-w);
    transform: translatey(0.1rem);
    margin-bottom: 2px;
    option {
      z-index: 1;
      display: flex;
      position: relative;
      text-shadow: 0 1px 1px 0 v.$lightGreen;
      box-shadow: 0 1px 1px 0 v.$lightGreen;
      font-size: x-small;
      color: v.$lowerTextColor;
    }
  }
  .label {
    color: v.$lowerTextColor;
    font-size: x-small;
    font-weight: 500;
    margin-bottom: 2px;
  }
}

.light:hover {
  filter: brightness(1.1);
}
