// Grey
$mainGrey: rgba(102, 99, 99, 1);
$darkGrey: rgba(43, 42, 42, 1);

// Blue
$lightBlue: rgba(134, 179, 246, 1);
$mainBlue: rgba(44, 93, 129, 1);
$darkBlue: rgba(26, 62, 91, 1);

// Green
$lightGreen: rgba(42, 113, 136, 1);
$mainGreen: rgba(133, 198, 105, 1);

// Pink
$mainPink: rgba(249, 102, 172, 1);

// Text
$textColor: rgba(217, 251, 255, 1);

// FX
$distortionColor: rgba(247, 163, 73, 1);
$flangerColor: rgba(224, 102, 188, 1);
$delayColor: rgba(134, 106, 252, 1);
$reverbColor: rgba(141, 226, 77, 1);
$chorusColor: rgba(0, 222, 255, 1);
$compressorColor: rgba(186, 174, 154, 1);
