@use '../../styles/variables' as v;

.lfo {
  background-color: v.$transparentBackground;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 3px;
  position: relative;
  width: 50%;
  .lfo-background {
    background-color: v.$mainBlue;
    border-radius: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 7px 9px;

    .lfo-selector {
      display: flex;
      flex-direction: column;
      width: 120px;
      margin-bottom: 5px;
      background-color: v.$darkBlue;
      border: 1px solid v.$lowerTextColor;
      border-radius: 5px;

      .selector-option {
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 7px 9px;

        .selector-option-light {
          background-size: cover;
          background-color: transparent;
          border: none;
          cursor: pointer;
          width: 12px;
          height: 12px;
          border-radius: 2px;
        }

        .selector-option-label {
          color: v.$lowerTextColor;
          font-size: x-small;
          font-style: italic;
          text-decoration: underline;
          text-decoration-color: v.$mainGreen;
          letter-spacing: 1.5px;
          font-weight: 700;
        }
      }
    }

    .controls {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: v.$lightGreen;
      border: 1px solid v.$lowerTextColor;
      border-radius: 5px;
      width: 120px;
      height: 100%;
    }
  }
}
