@use '../../styles/variables' as v;

.filter {
  background-color: v.$transparentBackground;
  border-radius: 2px;
  width: 50%;
  padding: 5px;
  margin-bottom: 3px;
  .filter-background {
    background-color: v.$mainBlue;
    border-radius: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 7px 9px;
    .knobs {
      background-color: v.$lightGreen;
      border: 1px solid v.$lowerTextColor;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 120px;
      height: 100%;
      padding-top: 5px;
      margin-top: 15px;
    }
  }
}
