@use '../../styles/variables' as v;

.header-layout {
  height: v.$headerHeight;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 15px 15px 0 0;
  background-color: black;
  color: v.$textColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    letter-spacing: 1.8px;
    font-size: 1.7rem;
  }

  .preset-selector {
    display: flex;
    height: 45%;

    button {
      background-color: black;
      border: none;
    }

    .preset-sreen {
      width: 15rem;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
      background-image: url('../../assets/screen-background.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .arrow-left,
    .arrow-right {
      color: v.$textColor;
      border: solid;
      border-width: 0 6px 6px 0;
      display: inline-block;
      padding: 4px;
    }
    .arrow-left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    .arrow-right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  .master-control {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
