@use './styles/variables' as v;

$backgroundHeight: calc(100vh - 3%);
$backgroundWidth: calc(100vw - 5%);

$mainHeight: calc($backgroundHeight - v.$headerHeight);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100%;
  overscroll-behavior: none;
  background-color: v.$darkGrey;
  font-family: 'Kanit', sans-serif;
}

.background {
  height: $backgroundHeight;
  width: $backgroundWidth;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: solid 2px;
  border-color: v.$lightBlue;
}

.main {
  width: 100%;
  height: $mainHeight;

  .core {
    height: 78%;
    display: flex;
    .left {
      width: 480px;
      padding: 5px;
      flex-direction: column;
      .subnoise {
        background-color: v.$transparentBackground;
        border: 1px solid red;
        border-radius: 5px;
        height: 38%;
      }
    }
    .center {
      width: 380px;
      padding: 5px;
      flex-direction: column;
      .envelopefilter {
        height: 407px;
        display: flex;
        gap: 3px;
        margin-bottom: 6px;
      }
      .lfo {
        border: 1px solid green;
        background-color: v.$transparentBackground;
        border-radius: 5px;
        height: 30%;
      }
    }
    .right {
      padding: 5px;
      width: 40%;
      flex-direction: column;
      .fx {
        border: 1px solid blue;
        border-radius: 5px;
        height: 15.2%;
        margin-bottom: 3px;
      }
      .header {
        height: 7%;
      }
    }
  }
}
